@import "variables";

#spinner {
    position: absolute;
    z-index: 100;

    &.backdrop {
        height: 100%;
        width: 100%;
        background-color: $backdrop-background-color;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: none;
    }
}

::ng-deep .colored-parent, ::ng-deep .colored > div {
    background-color: $spinner-color;
}
